<%- include('partials/header') -%>

<h1>HOME</h1>

<p><%= homeStartingContent %></p>

<p>



<h1> No More post yet! </h1>
<h1> <% for (i = 0; i < posts.length; i++) { %>
  <%  console.log(posts[i])}%>
</h1>
</p>

<%- include('partials/footer') -%>