<%- include('partials/header') -%>

<h1>HOME</h1>

<p><%= homeStartingContent %></p>

<p>



<h1> No More post yet! </h1>
<% posts.forEach(function(post){ %>
<% console.log(post.title)%>
<%});%>

</p>

<%- include('partials/footer') -%>