<%- include('partials/header') -%>

<h1>HOME</h1>

<p><%= homeStartingContent %></p>

<p>


  <% if (postStringify === 0) {  %>
<h1> No More post yet! </h1>
<% } else { %>
<h1> <%-  postStringify %> </h1>}
</p>

<%- include('partials/footer') -%>